
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" style="display: flex; align-items: center;">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
                <img data-bind="attr: { src: require.toUrl('PayIo_OfflinePayment/images/payIo1.png') }"  width="96" height="30" style="
    padding: 5px; border: #cccccc" />
                <p style="margin-bottom: 0; margin-left: 8px; font-size: 16px; font-weight: 700;">Pay iO - Card-less Checkout</p>
                <a href="https://www.payio.co.uk/howitworks" target="_blank" style="margin-left: 35px; font-size: 16px; color: #732282;">How Pay iO works?</a>
    </div>

    <div class="payment-method-content">
        <div class="checkout-agreements-block">
            
        </div>
        <div class="actions-toolbar" id="review-buttons-container">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind=" 
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        data-role="review-save">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
